<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div style="text-align: right; color: gray; font-size: 0.9em;">
  Текущее время сервера: <span id="serverTime" th:text="${serverTime}"></span>
</div>

<h2>Вход</h2>

<!-- Сообщение об ошибке, если есть -->
<p th:if="${error}" th:text="${error}" style="color:red"></p>

<!-- Форма входа - отправляет на /users/login -->
<form th:action="@{/users/login}" method="post">
  <input type="email" name="email" placeholder="Email" required
         th:value="${email != null ? email : ''}">
  <br><br>

  <label>Пароль:</label><br>
  <input type="password" name="password" placeholder="Введите пароль" required><br><br>

  <button type="submit">Войти</button>
</form>

<br>
<a th:href="@{/}">На главную</a>
<br>
<a th:href="@{/register}">Регистрация</a>

<script th:src="@{/js/time_fetcher.js}"></script>
</body>
</html>